{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User page - {{ user['username'] }} {% endblock %}</h1>
  {% if g.user and g.user['id'] != user['id'] %}
    <a href="#">Follow user</a>
  {% endif %}
{% endblock %}

{% block content %}
<h2>Information</h2>
{% if g.user['id'] == user['id']%}
  <a href="/user/{{user['id']}}/edit"> edit information</a>
{% endif %}  
<p>name - {{user.name}}</p>
<p>surname - {{user.surname}} </p>
<p>email - {{user.email}} </p>
<p>telephone - {{user.telephone}} </p>

<h2>Posts</h2>
 {% for post in posts %}
    <div>
        <h1><a href="/blog/{{post['id']}} ">{{ post['title'] }} </a></h1>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
    </div>
 {% endfor %}

{% endblock %}

